.header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgb(0, 0, 0),
        rgba(7, 7, 7, 0.068)
    ),url(../../Assets/Banner/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;  */
}
.myProfile{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(8, 8, 8, 0.616),
        rgba(10, 10, 10, 0.938)
    ),url(../../Assets/MyImg/myProfileImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;  */
}
.education{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(31, 18, 1, 0.945),
        rgba(10, 10, 10, 0.699)
    ),url(../../Assets/MyImg/UIU-Campus-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;  */
}
.technology{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(1, 7, 3, 0.952),
        rgba(10, 10, 10, 0.699)
    ),url(../../Assets/MyImg/technologies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;  */
}
.projects{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.89),
        rgba(10, 10, 10, 0.904)
    ),url(../../Assets/MyImg/projects.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;  */
}